[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
alembic = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask-heroku = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy-session = "*"
flask-swagger-ui = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
